main:
    checkers:
        forbiddenWordsChecker:
            class: Adq\CodeStandard\Checker\ForbiddenWordsChecker
            options:
                pattern: /console\.(debug|info|log|warn|trace)|var_dump\(|var_export\(|print_r\(|\bvd\(|\bvdx\(|\bpr\(|\bprx\(|\bvl\(|\bvlx\(|<<<<<<<|=======|>>>>>>>/
        phpCsChecker:
            class: Adq\CodeStandard\Checker\PhpCsChecker
            options:
                standard: PSR2
        esLintChecker:
            class: Adq\CodeStandard\Checker\EsLintChecker
            options:
                standard: config\.eslintrc.json